/*   External Style Sheet for winterHikingAdviceHomePage.html page
     Author:  _______
     Date:    _______
*/ 


/*---------------------------------------------*/

body   {

          background-color:  #bfe2f9;
}