h1 {
	font-size: 3em;
}

#home {
    width: 50px;
}

.mapImage {
	width: 900px;
	margin: 0 auto;
}

#footerRight {
    text-align: right;
}

img {
    box-shadow: 5px 5px 2px #555555;
    border-radius: 5px;
}